<% layout('layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">Registra tu puesto de tacos</h1>
    <div class="col-6 offset-3">
        <form action="/puestos" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Nombre del puesto:</label>
                <input class="form-control" type="text" id="title" name="Puesto[title]" required>
                <div class="valid-feedback">
                  Bien hecho
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="calle">Calle:</label>
                <input class="form-control" type="text" id="calle" name="Puesto[calle]" required>
                <div class="valid-feedback">
                  Bien hecho
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label " for="descripción">Cuentame sobre tus tacos:</label>
                <textarea class="form-control" type="text" id="descripción" name="Puesto[descripción]" required></textarea>
                <div class="valid-feedback">
                  Bien hecho
                </div>
              </div>
              <div class="mb-3">
                <input type="file" name="image" id="image" multiple>
              </div>
            <!-- <div class="mb-3">
                <label class="form-label " for="image">Enlace con la foto de tu puesto:</label>
                <input class="form-control" type="text" id="image" name="Puesto[image]" required>
              <div class="valid-feedback">
                Bien hecho
              </div>
            </div> -->
            <div class="mb-3"><button class="btn btn-info">Guardar</button></div>           
        </form>
        <a class="btn btn-primary" href="/puestos">de Vuelta</a>
    </div>
</div>    





