<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shower</title>
</head>
<body>
    <h1><%= puesto.title %> </h1>
    <h2><%= puesto.calle %> </h2>
    

    <button><a href="/puestos">De vuelta al index</a></button>
    <button><a href="/puestos/<%=puesto._id%>/edit">Modifica</a></button>

    <form action="/puestos/<%=puesto._id%>?_method=DELETE" method="post">
        <button>Eliminar</button>
    </form>
</body>
</html>