<% layout('layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center"><%=puesto.title%></h1>
    <h2 class="text-center">Registra tus tacos</h2>
    <div class="col-6 offset-3">
        <form action="/puestos/<%=id%>" method="post" novalidate class="needs-validation">
            <div class="mb-3">
                <label class="form-label" for="title">Nombre del taco:</label>
                <input class="form-control" type="text" id="title" name="title" required>
                <div class="valid-feedback">
                  Bien hecho
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label " for="descripción">Cuentame sobre tus tacos:</label>
                <textarea class="form-control" type="text" id="descripción" name="descripción" required></textarea>
                <div class="valid-feedback">
                  Bien hecho
                </div>
              </div>
            <div class="mb-3">
                <label class="form-label " for="image">Enlace con la foto de tus tacos:</label>
                <input class="form-control" type="text" id="image" name="image" required>
              <div class="valid-feedback">
                Bien hecho
              </div>
            </div>
            <div class="mb-3">
                <label class="form-label " for="precio">Precio:</label>
                <input class="form-control" type="number" id="precio" name="precio" required>
              <div class="valid-feedback">
                Bien hecho
              </div>
            </div>
            <div class="mb-3"><button class="btn btn-info">Guardar</button></div>           
        </form>
        <a class="btn btn-primary" href="/puestos/<%=puesto._id%>">De vuelta</a>
    </div>

</div>  



<script>
  const precio = document.querySelector('#precio');
  parseInt(precio);
</script>